.searchForm form {
    display: flex;
    margin-right: 20px;
}
.searchForm form input {
    font-family: "Source Sans Pro", sans-serif;
    border: 1px solid #DDDDDD;
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 5px 0 0 5px;
    padding: 8px 10px;
    display: inline-block;
    margin: 0;
    outline: none;
    font-size: 14px;
    line-height: 14px;
    height: 36px;
}
.searchForm form input[type="submit"] {
    border-radius: 0 5px 5px 0;
    border-left: none;
}

@media screen and (max-width: 767px) {
    .searchForm.desktop {
        display: none;
    }
}